.sidebar-selector {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 30px;
  margin-top: 110px;
}

.sidebar-selector__item {
  list-style: none;
  transform: rotate(270deg);
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17.53px;
  font-weight: 500;
  line-height: 20.54px;
  text-align: left;
  color: #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.active{
  color: #404040;

}


.link_marker {
  width: 9px;
  height: 9px;
  background: #408EBA;
  border-radius: 50%;
  opacity: 0;
  align-self: center;
}

.link_marker.active {
  opacity: 1;
}