
<nav class="recipe-steps__nav">
<a (click)="back()">Back</a>
<a routerLink="">Home</a>
</nav>

@if (recipe) {
  
  <main class="recipe-steps">
    <h2 class="recipe-steps__title">{{recipe.name}}</h2>
    <section class="recipe-steps__info">
      <section class="recipe-steps__details">
        <h3 class="recipe-steps__header">Instructions</h3>
        <div class="recipe-steps__steps">
          @for (step of recipe.instructions; track $index) {
            <div class="recipe-steps__step">
              {{$index + 1}}. {{step}}
            </div>
          }
        </div>
        <h3 class="recipe-steps__header">Information</h3>
        <div class="recipe-steps__info">
          <div class="recipe-steps__info-item">
            <h5 class="recipe-steps__info-item-value">{{recipe.caloriesPerServing}}</h5>
            <p class="recipe-steps__info-item-description">Calories</p>
          </div>
          <div class="recipe-steps__info-item">
            <h5 class="recipe-steps__info-item-value">{{recipe.rating}}</h5>
            <p class="recipe-steps__info-item-description">Rating</p>
          </div>
          <div class="recipe-steps__info-item">
            <h5 class="recipe-steps__info-item-value">{{recipe.prepTimeMinutes}}</h5>
            <p class="recipe-steps__info-item-description">Prep time <br> minutes</p>
          </div>
          <div class="recipe-steps__info-item">
            <h5 class="recipe-steps__info-item-value">{{recipe.cookTimeMinutes}}</h5>
            <p class="recipe-steps__info-item-description">Cook time <br>minutes</p>
          </div>
        </div>
      </section>
      <img src="{{recipe.image}}" alt="" class="recipe-steps__image">
    </section>
  </main>
 
}
